.form {
  background-image: none;
  min-height: 651px;
  width: 65vw;
  font-size: 1.3rem;
  overflow: hidden;
}


.form__serviceMessage {
  background-color: rgb(225, 225, 225);
  padding: 25px;
  height: 20vh;
}

.form__formContainer {
  background-color: white;
}

.form__inputContainer {
  height: auto;
  padding: 25px 25px 30px 25px;
  display: grid;
  gap: 0 25px;
  max-width: 1300px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
  
  
}
.form__letsDoThis {
  grid-column: 1/-1;
  margin-bottom: 30px;
  margin-left: 4px;
}
.form__createAccountContainer {
  background-color: rgb(225, 225, 225);
  height: 55vh;
  overflow: hidden;
  padding: 25px 13px 25px 25px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

}

.form__createAccountBtn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(127, 127, 230);
  color: white;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 559.26px;
  min-width: 409px;
}
.form__createAccountBtn:hover {
  background-color: rgb(161, 161, 244);
}
.form__createAccountBtn:active {
  background-color: rgb(111, 111, 218);
}

.form__linkTree {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 5px;
  right: 5px;
  color: rgb(127, 127, 230);
}
.form__linkTree:hover {
  color:rgb(0, 0, 0);
  transform: scale(1.1);
}
.hide {
  display: none;
}
.linkDescription {
  z-index: 3;
  position: absolute;
  text-align: center;
  font-size: .85rem;
  top: 15px;
  right: 1px;
}
.squareRotated {
  z-index: 1;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
  position: relative;
  bottom: -20px;
  left: 90px;
  height: 20px;
  width: 20px;
  transform: rotate(25deg);
}
.form__linkTree:hover + .hide {
  z-index: 2;
  height: 60px;
  width: 130px;
  display: block;
  text-decoration: none;
  color: rgb(1, 1, 1);
  position: absolute;
  bottom: 71px;
  right: 50px;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}

.form__github:hover + .hide {
  height: 60px;
  width: 130px;
  display: block;
  text-decoration: none;
  color: rgb(1, 1, 1);

  position: absolute;
  bottom: 71px;
  right: 99px;
  border-radius: 5px;
  background-color: white;
  padding: 2px;
}
.form__github {
  position: absolute;
  width: 50px;
  height: auto;
  bottom: 5px;
  right: 55px;
  color: rgb(127, 127, 230);

}
.form__github:hover {
  color:rgb(0, 0, 0);
  transform: scale(1.1);
}

.form__haveAnAccount {
margin-left: 2px;
margin-top: 5px;
}


@media screen  and (max-width: 2049px) and (max-height: 590px){
  .form {
    overflow: scroll;
  }
  .form__createAccountContainer {
    
    height: 75vh;
    
  
  }
}

@media screen and (max-width: 670px) {
  .form {
  background-image: url("../images/wallpaper.gif");
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  padding: 25px;
  box-sizing: border-box;  
  width: auto;
  font-size: .8rem;
  
  }

  .form__linkTree {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 5px;
    color: rgb(240, 242, 243);
  }
  .form__linkTree:hover {
    color:rgb(127, 127, 230);
    transform: scale(1.1);
  }
  .form__linkTree:hover + .hide , .form__github:hover + .hide {
    display: none;
  }
  .form__github {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 5px;
    right: 45px;
    color: rgb(240, 242, 243);
  }
  .form__github:hover {
    color:rgb(127, 127, 230);
    transform: scale(1.1);
  }

  .form__mainContainer {
    height: 100%;
    display: grid;
    background-color: rgba(240, 255, 255, 0.647);
    grid-template-rows: .4fr 2fr .4fr .1fr;
    border-radius: 9px;
  }
  .form__serviceMessage {
    font-size: .9rem;
    background-color: transparent;
    padding:  15px;
    text-align: center;
    min-height: 100px;
    height: auto;
  }

  .form__formContainer {
    background-color: transparent;
  }

  .form__inputContainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 0;
    padding: 0 7px 0 0;
  }
  .form__letsDoThis {
    text-align: center;
    grid-column: span 1;
    margin-bottom: 0;
    margin-left: 0;
  }
  .form__createAccountContainer {
    padding: 0 15px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: .9rem; 
    font-weight: 400;
    background-color: transparent;

  }

  .form__createAccountBtn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(127, 127, 230);
    color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 483px;
    min-width: 280px;
  }
  .form__haveAnAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    
  }
  .form__haveAnAccount a {
    margin-top: 4px;
  }
}

