.wallpaper {
  background-image: url("../images/wallpaper.gif");
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.wallpaper__messageContainer {
    color: white;
    height: 50vh;
    justify-self: center;
    margin-top: 245px;
    
}

.wallpaper__transparentBox {
    background-color: rgba(255, 255, 255, 0.573);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wallpaper__message {
    font-size: 4rem;
}
.wallpaper__creditContainer {
    position: relative;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
    width: 100%;
    margin: auto;
    
    color: white;
    font-size: 1.2rem;
}
.wallpaper__creditLink {
    color: rgb(127, 127, 230);
}


@media screen and (max-width: 752px) {
    .wallpaper__message {
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 670px) {
    .wallpaper {
        background-Image: none;
        background-repeat: none;
        background-size: none;
        width: auto;
        height: auto;
    }

    .wallpaper__messageContainer {
        display: none;
    }
    .wallpaper__creditContainer {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        width: 300px;
        margin: auto;
        text-align: center;
        color: white;
        font-size: .7rem;
    }
    .wallpaper__creditLink {
        color: rgb(127, 127, 230);
    }
}



